body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.headerwrapper{
    margin: 0;
    padding: 0;
    display: block;
}


.navigation{
    position: absolute;
    right: 20px;
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 40px solid white;   
    background-color: white;   
    height: 800px;
    margin: 0;


}

.formclass{
    display: flex;
    justify-content: center;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50px;
    border: 80px solid white;   
    background-color: white;
    padding: 20px;            
    border-radius: 10px;      
    width: 300px;             
    gap: 10px;                
  }

  img{
    width: 200px;
  }

  button{
    border-radius: 10px;
    width: 60px;
    background-color: black;
    color: white;
  }




   