body{
    background-color: lightgray;
}


.navigation{
    position: absolute;
    right: 20px;
    top: 20px;
}


nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-top: 50px;
    border: 80px solid white;   
    background-color: white;
    padding: 20px;            
    border-radius: 10px;      
    width: 300px;             
    gap: 10px;                
  }

  img{
    width: 200px;
  }

  button{
    border-radius: 10px;
    width: 60px;
    background-color: black;
    color: white;
  }