body{
    font-family: parkinsans;
    background-color: var(--background-color-secondary);
    margin: 0;
    padding: 0;
}


header{
    position: relative;
    z-index: 5;
}

.navigation{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;        
    margin: 0;
    padding: 0;
    z-index: 10;    
}



nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: 40px solid white; 
    background-color: white;
    height: 100%;         
    padding: 20px;


}



.formclass{
    display: flex;
    justify-content: center;


form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50px;
    border: 80px solid white;   
    background-color: white;
    padding: 20px;            
    border-radius: 10px;      
    width: 300px;             
    gap: 10px;                
  }


  button{
    border-radius: 10px;
    width: 60px;
    background-color: black;
    color: white;
  }



  .images{
    position: relative;
    top: 10px;
}


  .profiel{
    position: absolute;
    right: 17em;
    bottom: 20em;
    width: 150px;

  }

.potlood{
    position: absolute;
    bottom: 21em;
    left: 2em;
    width: 25px;

}
}


   